{% extends 'base.html.twig' %}

{% block title %}Edit Row{% endblock %}

{% block body %}
    <h1>Edit Row</h1>

    {{ include('row/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('row_index') }}">back to list</a>

    {{ include('row/_delete_form.html.twig') }}
{% endblock %}
