{% extends 'base.html.twig' %}

{% block title %}New Row{% endblock %}

{% block body %}
    <h1>Create new Row</h1>

    {{ include('row/_form.html.twig') }}

    <a href="{{ path('row_index') }}">back to list</a>
{% endblock %}
